.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.DictionarySearch section {
  background-color: #edd7bd;
  border-radius: 10px;
  padding: 29px 20px;
  margin: 30px 0;
  box-shadow: 5px 5px rgba(145, 145, 145, 0.5);
}

.DictionarySearch h2 {
  margin-bottom: 25px;
}

.DictionarySearch input {
  border: 2px solid #ee6666;
  border-radius: 30px;
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

.DictionarySearch .hint {
  font-size: 10px;
}

.Results h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  color: #b41e22;
}

.Phonetic {
  height: 42px;
  margin-top: 13px;
}

.Phonetic a {
  font-size: 15px;
  color: #ee6666;
  text-decoration: none;
  border: 1.5px solid #ee6666;
  border-radius: 100px;
  padding: 10px;
  margin-right: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background-color: #ee6666;
  color: #edd7bd;
}

.Phonetic .phonetic-text {
  opacity: 0.8;
}

.Meaning h4 {
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  color: #ee6666;;
}

.Meaning .definition {
  font-size: 17px;
  padding: 0 40px;
  margin: 0 90px;
}

.Meaning .example {
  opacity: 0.9;
  font-style: italic;
  font-size: 15px;
  margin-top: 5px;
  font-family: "PT Mono", monospace;
}

.Synonyms {
  margin-top: -20px;
  font-family: "Cutive Mono", monospace;
}

.Synonyms li {
  font-size: 15px;
  opacity: 0.8;
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
}

.Footer footer {
  font-size: 10px;
  margin-bottom: 5px;
}

.Footer a {
  text-decoration: none;
  color: #ac3834;
}
.Footer .github-link:hover {
  text-decoration: underline;
}
